<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
        <title>{% block title %}{% endblock %} - Best Buds in Crosswords</title>
        {% endblock %}
    </head>
    <body>
        <div id="content">{% block content %}{% endblock %}</div>
        <br>
        <br>
        <br>
        <br>
        <footer id="bbic-footer" class="box">
            {% block footer %}
            &copy; Copyright 2017 by <a href="{{url_for('index')}}">Gudza Corporation</a>. Most rights reserved.
            {% endblock %}
        </footer>
    </body>
</html>
