{% extends "base.html" %}    
{% block title %}Welcome!{% endblock %}
{% block head %}
{{ super() }}
    <style type="text/css">.important { color: #336699; }</style>
{% endblock %}
{% block content %}
<nav class="nav">
  <div class="nav-left">
    <a class="nav-item">
      <img src="{{url_for('static', filename='doge-small.jpg')}}" alt="BBIC Logo">
      <h1 class="title">BBiC</h1>
    </a>
  </div>

  <div class="nav-center">
      <h1 class="title">Create a new game</h1>
  </div>

  <div class="nav-right nav-menu">
    <a class="nav-item" href="{{url_for('home')}}">
      Home
    </a>
    <a class="nav-item" href="{{url_for('logout')}}">
      Logout ({{user.login}})
    </a>
  </div>
</nav>
<table class="table">
    <thead>
        <tr>
            <th>Puzzle Date</th>
            <th>Puzzle Name</th>
            <th>Difficulty</th>
            <th>Create!</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Puzzle Date</th>
            <th>Puzzle Name</th>
            <th>Difficulty</th>
            <th>Create!</th>
        </tr>
    </tfoot>
    <tbody>
    {% for item in crosswords %}
        <tr>
            <form method="POST" action="{{url_for('create_puzzle')}}">
            {{ form.hidden_tag() }}
            <input type="hidden" name="crossword" value="{{ item }}" />
                <th>{{item}}</th>
                <td><input type="text" placeholder="Name" name="puzzle_name" /></td>
                <td>
                    <input type="radio" name="mode" value="normal" checked />Normal
                    <input type="radio" name="mode" value="expert" />Expert
                </td>
                <td><input type="submit" value="Create" class="button is-primary is-outlined" /></td>
            </form>
        </tr>
    {% endfor %} 
    </tbody>
</table>
{% endblock %}
