{% extends "base.html" %}    
{% block title %}Welcome!{% endblock %}
{% block head %}
{{ super() }}
    <style type="text/css">.important { color: #336699; }</style>
{% endblock %}
{% block content %}
<nav class="nav">
  <div class="nav-left">
    <a class="nav-item">
      <img src="{{url_for('static', filename='doge-small.jpg')}}" alt="BBIC Logo">
      <h1 class="title">BBiC</h1>
    </a>
  </div>

  <div class="nav-center">
      <h1 class="title">{{ user.login }}'s Home</h1>
  </div>

  <div class="nav-right nav-menu">
    <a class="nav-item" href="{{url_for('home')}}">
      Home
    </a>
    <a class="nav-item" href="{{url_for('logout')}}">
      Logout ({{user.login}})
    </a>
  </div>
</nav>

<nav class="panel">
  <p class="panel-heading">
    Your puzzles
  </p>
  {% for item in user_crosswords %}
  <a class="panel-block" href="{{url_for('puzzle', puzzle_id=item) | urlencode}}">
    <span class="panel-icon">
      <i class="fa fa-book"></i>
    </span>
    {{ item }}
  </a>
  {% endfor %}
</nav>
<nav class="panel">
  <p class="panel-heading">
    Join a new Puzzle
  </p>
  {% for item in other_crosswords %}
  <a class="panel-block" href="{{url_for('join_puzzle', puzzle_id=item) | urlencode}}">
    <span class="panel-icon">
      <i class="fa fa-book"></i>
    </span>
    {{ item }}
  </a>
  {% endfor %}
</nav>

<nav class="panel">
  <p class="panel-heading">
    Leaderboard
  </p>
  <style>
    .cc {
        width: 800px;
        margin: auto;
        float: center;
    }
    .cc #leaderboard {
        border: 1px black;
        margin: 0;
    }
    .cc #leaderboard td{
        border: 1px black;
        margin: 0;
        text-align: right;
    }
    .cc #leaderboard th{
        border: 1px black;
        margin: 0;
        text-align: right;
    }  
  </style>
  <div class="cc">
  <table id="leaderboard"><tr><th style="text-align:left">name</th><th>total correct</th><th>total errors</th></tr>
  {% for item in leaderboard %}
  <tr><td style="text-align:left">
  <a href="{{url_for('view_stats', login_id=item.login) | urlencode}}">
    {{ item.login }}
  </a>
  </td><td>{{ item.user_correct }}</td><td>{{ item.user_wrong + item.user_corrected }}</td></tr>
  {% endfor %}
  </table>
  </div>
</nav>

<div class="columns">
    <div class="column">
    <form action="{{url_for('create')}}" method="get">
        <input type="submit" value="Create a new game" class="button is-primary is-outlined" style="width: 100%"/>
    </form>
    </div>
    <div class="column">
    <form action="{{url_for('view_closed')}}" method="get">
        <input type="submit" value="View a completed game" class="button is-info is-outlined" style="width: 100%"/>
    </form>
    </div>
    <div class="column">
    <form action="{{url_for('user_stats')}}" method="get">
        <input type="submit" value="My stats" class="button is-success is-outlined" style="width: 100%"/>
    </form>
    </div>
</div>
{% endblock %}
