{% extends "base.html" %}    
{% block title %}Welcome!{% endblock %}
{% block head %}
{{ super() }}
    <style type="text/css">.important { color: #336699; }</style>
{% endblock %}
{% block content %}
<nav class="nav">
  <div class="nav-left">
    <a class="nav-item">
      <img src="{{url_for('static', filename='doge-small.jpg')}}" alt="BBIC Logo">
      <h1 class="title">BBiC</h1>
    </a>
  </div>
  <div class="nav-center">
      <h1 class="title">Welcome to Best Buds in Crosswords (BBiC)!</h1>
  </div>

  <div class="nav-right nav-menu">
    <a class="nav-item" href="{{url_for('login')}}">
      Login
    </a>
    <a class="nav-item" href="{{url_for('register')}}">
      Register
    </a>
  </div>
</nav>
<article class="message">
  <div class="message-header">
    <p>Welcome!</p>
  </div>
  <div class="message-body">
   Welcome to Best Buds in Crosswords <strong>BBiC</strong>! Are you ready to puzzle your
   brain on our awesome puzzles? Try our all new <strong>expert mode</strong> if you dare!
  </div>
</article>

{% endblock %}
