{% extends "base.html" %}    
{% block title %}Welcome!{% endblock %}
{% block head %}
{{ super() }}
    <style type="text/css">

    .stats-chart
    {
        width : 45%;
    }

    .puzzle-wrong-entry input
    {
        width: 42px;
        height: 25px;
        text-align: center; 
        font-weight: bold;
        font-size: 23px;
        border: none;
        color: #f00;
    }

    .puzzle-entry input:focus
    {
        background-color: #ff0;
    }

    .puzzle-blocked
    {
        background-color: black;
    }

    .puzzle-transparent
    {
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }

    #overall-pie-chart
    {
        width: 300px;
    }

    </style>
{% endblock %}
{% block content %}
<nav class="nav">
  <div class="nav-left">
    <a class="nav-item">
      <img src="{{url_for('static', filename='doge-small.jpg')}}" alt="BBIC Logo">
      <h1 class="title">BBiC</h1>
    </a>
  </div>

  <div class="nav-center">
      <h1 class="title">{{puzzle_id}} puzzle results</h1>
  </div>

  <div class="nav-right nav-menu">
    <a class="nav-item" href="{{url_for('home')}}">
      Home
    </a>
    <a class="nav-item" href="{{url_for('logout')}}">
      Logout ({{user.login}})
    </a>
  </div>
</nav>
    {% if show_stats %}
    <article class="message">
        <div class="message-header">
            <p>Your personal stats for this puzzle</p>
        </div>
        <div class="message-body">
            <div id="overall-pie-chart"></div>
            <p><strong>Total Submissions</strong></p>
            <div id="total-submissions-chart" class="stats-chart"></div>
            <p><strong>Correct Submissions</strong></p>
            <div id="correct-submissions-chart" class="stats-chart"></div>
            <p><strong>Incorrect Submissions</strong></p>
            <div id="incorrect-submissions-chart" class="stats-chart"></div>
            <p><strong>You got vs everyone else:</strong></p>
            <ul>
            <li>{{ user_stats[0] }}/{{ global_stats[3] }} correct letters that remained correct</li>
            <li>{{ user_stats[3] }}/{{ global_stats[3] }} correct letters, but were overridden</li>
            <li>{{ user_stats[4] }}/{{ global_stats[3] }} wrong letters that were corrected</li>
            <li>{{ user_stats[1] }}/{{ global_stats[3] }} wrong letters that remained incorrect or unattempted</li>
            <li>{{ user_stats[2] }}/{{ global_stats[3] }} unattempted letters</li>
            </ul>
        </div>
    </article>
    {% endif %}
    <article class="message">
        <div class="message-header">
            <p>The puzzle (all contributions included)</p>
        </div>
        <div class="message-body">
            <table class="puzzle-table">
                {% for irow in range(puzzle.rows) %}
                <tr class="puzzle-row">
                    {% for icol in range(puzzle.cols) %}
                        {% if puzzle.at(irow, icol).label == None %}
                    <td class="puzzle-blocked">
                    </td>
                        {% else %}
                    {% if puzzle.at(irow, icol).mark == None %}
                    <td class="puzzle-entry">
                    {% else %}
                    <td class="puzzle-wrong-entry">
                    {% endif %}
                        {% if puzzle.at(irow, icol).label == '-' %}
                        <div class="puzzle-transparent">
                        {% endif %}
                            {{ puzzle.at(irow, icol).label }}
                        {% if puzzle.at(irow, icol).label == '-' %}
                        </div>
                        {% endif %}
                        <input maxlength="1" type="text" id="R{{ irow }}C{{ icol }}" 
                        {% if puzzle.at(irow, icol).val != None %}
                        value="{{ puzzle.at(irow, icol).val }}"
                        {% endif %}
                            readonly/>
                    </td>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </tr>
            </table>
        </div>
    </article>
    <nav class="panel">
        <p class="panel-heading">
            Submissions by others (wrong marked in red)
        </p>
        {% for user_id in other_users %}
        <a class="panel-block" href="{{url_for('puzzle_view_and_check', user_id=user_id, puzzle_id=puzzle_id)|urlencode}}">
            <span class="panel-icon">
            <i class="fa fa-book"></i>
            </span>
            {{ user_id }}
        </a>
        {% endfor %}
    </nav>
    {% if show_stats %}
    <!-- C3 and D3 -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css">  
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>

    <script type="text/javascript">
    var total_submissions_chart = c3.generate(
        {{ total_submissions_json | safe }}
    );
    var correct_submissions_chart = c3.generate(
        {{ correct_submissions_json | safe }}
    );
    var incorrect_submissions_chart = c3.generate(
        {{ incorrect_submissions_json | safe }}
    );
    var overall_pie_chart = c3.generate({
        bindto: '#overall-pie-chart',
        data: {
            columns: [
                ['Correct', {{ user_stats[0] + user_stats[3] }}],
                ['Incorrect', {{ user_stats[1] + user_stats[4] }}],
                ['Unattempted', {{ user_stats[2] }}]
            ],
            type : 'pie',
            colors: {
                Correct: 'green',
                Incorrect: 'red',
                Unattempted: 'grey'
            },
        },
        tooltip: {
            format: {
                value: function (value, ratio, id) {
                    return value;
                }
            }
        }
    });
    </script>
    {% endif %}
{% endblock %}
