{% extends "base.html" %}    
{% block title %}Welcome!{% endblock %}
{% block head %}
{{ super() }}
    <style type="text/css">

    .puzzle-blocked
    {
        background-color: black;
    }

    .puzzle-transparent
    {
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }

    </style>
{% endblock %}
{% block content %}
<nav class="nav">
  <div class="nav-left">
    <a class="nav-item">
      <img src="{{url_for('static', filename='doge-small.jpg')}}" alt="BBIC Logo">
      <h1 class="title">BBiC</h1>
    </a>
  </div>

  <div class="nav-center">
      <h1 class="title">{{puzzle_id}} submission by {{ user_id }}</h1>
  </div>

  <div class="nav-right nav-menu">
    <a class="nav-item" href="{{url_for('home')}}">
      Home
    </a>
    <a class="nav-item" href="{{url_for('logout')}}">
      Logout ({{user.login}})
    </a>
  </div>
</nav>
    <table class="puzzle-table">
        {% for irow in range(puzzle.rows) %}
        <tr class="puzzle-row">
            {% for icol in range(puzzle.cols) %}
                {% if puzzle.at(irow, icol).label == None %}
            <td class="puzzle-blocked">
            </td>
                {% else %}
            {% if puzzle.at(irow, icol).mark == None %}
            <td class="puzzle-entry">
            {% else %}
            <td class="puzzle-wrong-entry">
            {% endif %}
                {% if puzzle.at(irow, icol).label == '-' %}
                <div class="puzzle-transparent">
                {% endif %}
                    {{ puzzle.at(irow, icol).label }}
                {% if puzzle.at(irow, icol).label == '-' %}
                </div>
                {% endif %}
                <input maxlength="1" type="text" id="R{{ irow }}C{{ icol }}" 
                {% if puzzle.at(irow, icol).val != None %}
                value="{{ puzzle.at(irow, icol).val }}"
                {% endif %}
                    readonly/>
            </td>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </tr>
    </table>
{% endblock %}
