{% extends "base.html" %}    
{% block title %}Welcome!{% endblock %}
{% block head %}
{{ super() }}
    <style type="text/css">.important { color: #336699; }</style>
{% endblock %}
{% block content %}
<form method="POST" action="{{url_for('upload_file')}}" enctype="multipart/form-data">
    {% include "form_fields.html" %}
    <input type="submit" value="Upload" />
</form>
{% endblock %}
