{% extends "base.html" %}    
{% block title %}Welcome!{% endblock %}
{% block head %}
{{ super() }}
    <style type="text/css">

    .stats-chart
    {
        width : 45%;
    }

    #group-pie-chart
    {
        width: 300px;
    }

    #user-pie-chart
    {
        width: 300px;
    }

    </style>
{% endblock %}
{% block content %}
<nav class="nav">
  <div class="nav-left">
    <a class="nav-item">
      <img src="{{url_for('static', filename='doge-small.jpg')}}" alt="BBIC Logo">
      <h1 class="title">BBiC</h1>
    </a>
  </div>

  <div class="nav-center">
      <h1 class="title">{{puzzle_id}} puzzle results</h1>
  </div>

  <div class="nav-right nav-menu">
    <a class="nav-item" href="{{url_for('home')}}">
      Home
    </a>
    <a class="nav-item" href="{{url_for('logout')}}">
      Logout ({{user.login}})
    </a>
  </div>
</nav>
    <article class="message">
        <div class="message-header">
            <p>Your overall stats for expert mode puzzles</p>
        </div>
        <div class="message-body">
            <p><strong>Overall stats of expert crosswords you joined</strong></p>
            <div id="group-pie-chart"></div>
            <p><strong>Your individual stats across expert crosswords</strong></p>
            <div id="user-pie-chart"></div>
        </div>
    </article>
    <!-- C3 and D3 -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css">  
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>

    <script type="text/javascript">
    var group_pie_chart = c3.generate({
        bindto: '#group-pie-chart',
        data: {
            columns: [
                ['Correct', {{ stats['group_correct'] }}],
                ['Incorrect', {{ stats['group_wrong'] }}],
                ['Unattempted', {{ stats['group_unattempted'] }}]
            ],
            type : 'pie',
            colors: {
                Correct: 'green',
                Incorrect: 'red',
                Unattempted: 'grey'
            },
        },
        tooltip: {
            format: {
                value: function (value, ratio, id) {
                    return value;
                }
            }
        }
    });
    var user_pie_chart = c3.generate({
        bindto: '#user-pie-chart',
        data: {
            columns: [
                ['Correct', {{ stats['user_correct'] }}],
                ['Overridden', {{ stats['user_overriden'] }}],
                ['Incorrect', {{ stats['user_wrong'] }}],
                ['Corrected', {{ stats['user_corrected'] }}],
                ['Unattempted', {{ stats['user_unattempted'] }}]
            ],
            type : 'pie',
            colors: {
                Correct: 'green',
                Overridden: 'blue',
                Incorrect: 'red',
                Corrected: 'yellow',
                Unattempted: 'grey'
            },
        },
        tooltip: {
            format: {
                value: function (value, ratio, id) {
                    return value;
                }
            }
        }
    });
    </script>
{% endblock %}
