
html, body {
    background-color: white;
    position: relative;
    height: 100%;
}

.field-error {
    color: red;
}

#bbic-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.important 
{ 
    color: #336699; 
}

.puzzle-table 
{
    width: auto;
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 13px;
    font-family: "Courier New", Courier, monospace;
    margin: auto;
}

.puzzle-table td 
{
    width: 42px;
    height: 42px;
    border: 1px solid black;
    text-align: left;
    vertical-align: middle;
}

.puzzle-entry input
{
    width: 42px;
    height: 25px;
    text-align: center; 
    font-weight: bold;
    font-size: 23px;
    border: none;
    background-color: inherit;
}
